<div class="row">
	<div class="container">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span>My Web</span>
				<span class="example-spacer"></span>
				<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
				<mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>
</div>
<div class="row">
	<mat-divider color="warn"></mat-divider>
</div>
<div class="row">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Videos</a></li>
				<li class="breadcrumb-item"><a href="#">People</a></li>
				<li class="breadcrumb-item"><a href="#">Documents</a></li>
				<li class="breadcrumb-item"><a href="#">Events</a></li>
				<li class="breadcrumb-item"><a href="#">Communities</a></li>
				<li class="breadcrumb-item"><a href="#">Favorites</a></li>
				<li class="breadcrumb-item"><a href="#">Channels</a></li>
			</ol>
		</nav>
	</div>
</div>
<div class="row">
	<mat-divider color="warn"></mat-divider>
</div>
<div class="row">
	<div class="container">
		<div class="row">
			<div class="col m6">
				<div class="card">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col m3">
				<div class="card">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col m3">
				<div class="card">
					<mat-list>
						<mat-list-item>
							<img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="...">
							<h3 matLine> Title </h3>
							<p matLine>
								<span> Subtitle </span>
								<span class="demo-2"> -- Content </span>
							</p>
						</mat-list-item>

						<mat-list-item>
							<img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="...">
							<h3 matLine> Title </h3>
							<p matLine>
								<span> Subtitle </span>
								<span class="demo-2"> -- Content </span>
							</p>
						</mat-list-item>

						<mat-list-item>
							<img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="...">
							<h3 matLine> Title </h3>
							<p matLine>
								<span> Subtitle </span>
								<span class="demo-2"> -- Content </span>
							</p>
						</mat-list-item>
					</mat-list>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-md-8">
		.col-md-8
		<div class="row">
			<div class="col m6">.col m6</div>
			<div class="col m6">.col m6</div>
		</div>
	</div>
	<div class="col-md-4">.col-md-4</div>
</div> -->