.example-spacer {
  flex: 1 1 auto;
}

// .header nav {
//   padding: 10px;
//   // background-color: white;
//   // color: black;
// }

// .header a {
//   color: black;
// }

.tengah .card {
  height: 240px;
}

.h-50 {
  height: 500px;
}

.video-section .row {
  height: 500px;
}

.people-section {
  margin-top: 20px;
}
