<div class="container-gw">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<span>My Web</span>
			<span class="example-spacer"></span>
			<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
			<mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
<mat-divider color="warn"></mat-divider>
<div class="container-gw">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Library</a></li>
			<li class="breadcrumb-item active" aria-current="page">Data</li>
		</ol>
	</nav>
</div>
<mat-divider color="warn"></mat-divider>